/*CUSTOM FONT FAMILY online*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

:root{
	--blue: #0056B3;
	--semiwhite: rgba(255,255,255,.8);
	--whitesmoke: #e9ecef;
	--semiblack: rgba(0,0,0, 0.7);
	--white: #fff;
	--shadow: rgba(58,59,69,.15);
	--gray: #5a5c69;

	--font-color: rgb(66, 66, 66);
	--btn-bg: #00afb5;


	--border: #969ca1;
	--font-family: 'Nunito Sans', sans-serif;
}
*{	
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
}
body{
    background: linear-gradient(90deg, rgb(93, 224, 230) 0%, rgb(0, 74, 173) 100%);

min-height: 100vh;
}
.btn-bg:hover{
	color: black;
	border: 2px solid var(--btn-bg);
}
.btn-bg{
	background-color: var(--btn-bg);
	font-weight: 900 !important;
	color: var(--white);
	border: 2px solid var(--btn-bg);
}
.btn-prof:hover{
	background: rgba(232, 92, 172, 0.9) !important;
}
.btn-prof:hover,
.btn-prof{
	background: rgba(232, 92, 172, 1);
	font-weight: 900 !important;
	color: var(--white);
	border: 2px solid rgba(232, 92, 172, 0.1);
}
table thead tr th,
.text-blue{
	color: rgb(82, 113, 255) !important;
}

.form-control:focus{
 	box-shadow: none;
}
.form-control{
	border-radius: 0;
	border-bottom: 2px solid black !important;
}
input:-webkit-autofill, input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
	border: 0 !important;
	border-bottom: 2px solid black !important;
}
.form-floating>.form-control-plaintext:-webkit-autofill,
.form-floating>.form-control:-webkit-autofill{
	padding-top: 40px;
	border: 0 !important;
	border-bottom: 2px solid black !important;
}
.register{
	font-weight: 700;
	color: var(--font-color);
}

th, td{ white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}
.dataTables_filter input {/* Adjust the width as needed */
	margin-top: 5px;
	margin-bottom: 5px !important;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .3) !important;
}
.collapse .card a:hover{
	color: blue !important;
}

@media screen and (max-width: 850px){
	.LogoutDIV{
		 right: 10px !important;
		 top: -65px !important;
	}
}